<div class="box">
  <div [ngClass]="{ completed: task.status === taskStatusEnum.completed }">
    <input
      type="checkbox"
      (click)="changeTaskStatusHandler($event)"
      [checked]="task.status === taskStatusEnum.completed" />
    <input *ngIf="editMode; else content" [(ngModel)]="newTitle" (blur)="editTitleHandler()" type="text" />
    <ng-template #content>
      <span (dblclick)="activateEditModeHandler()">{{ task.title }}</span>
    </ng-template>
  </div>

  <button mat-icon-button color="warn" aria-label="delete icon button" (click)="removeTaskHandler()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
