<mat-toolbar color="primary" class="header">
  <mat-form-field class="inputWr">
    <input
      matNativeControl
      type="text"
      placeholder="add new ToDoList"
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodoHandler()" />
  </mat-form-field>

  <h1>Angular To Do List</h1>

  <button mat-raised-button color="warn" (click)="logOutHandler()">LogOut</button>
</mat-toolbar>

<div class="content">
  <todo-todo
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (removeToDoListEvent)="removeTodo($event)"
    (editToDoListEvent)="editTodo($event)">
  </todo-todo>
</div>
