<div class="box">
  <div class="header">
    <input [(ngModel)]="newTitle" type="text" (blur)="editTitleHandler()" *ngIf="isEditMode; else content" />
    <ng-template #content>
      <span (dblclick)="activateEditMode()">{{ todo.title }}</span>
    </ng-template>
    <button (click)="removeToDoListHandler()">X</button>
  </div>
  <todo-tasks [todoId]="todo.id"></todo-tasks>
  <todo-todo-filters (changeFilterEvent)="changeFilter($event)" [filter]="todo.filter"></todo-todo-filters>
  <todo-todo-footer [addedDate]="todo.addedDate"></todo-todo-footer>
</div>
